if [[ ! -d .env ]]; then
    log_status "Creating python venv..."
    python3 -m venv .env
fi
export VIRTUAL_ENV=$PWD/.env
PATH_add .env/bin
if [[ -e .envrc.local ]]; then
    source_env .envrc.local
fi
