build
.gradle
maven.properties
signing.properties
.~lock*
out
local.properties

# Intellij
*.iml
.idea/*
!.idea/codeStyles/
!.idea/copyright/
!.idea/scopes/
!.idea/detekt.xml

# envrc
.env/
.envrc.local

# mkdocs
docs/dokka/
public/
