build
.gradle
maven.properties
signing.properties
.~lock*
out

# Intellij
*.iml
.idea/*
!.idea/codeStyles/
!.idea/copyright/
!.idea/detekt.xml

# temporary excludes of binding src dirs
bindings/**/src/nativeMain/kotlin/bindings/
!bindings/common/src/nativeMain/
