# Sharing dependency versions between projects
# https://docs.gradle.org/current/userguide/platforms.html

[versions]
detekt = "1.22.0"
gradle = "7.6"
kotlin = "1.8.10"
kotlin-logging = "4.0.0-beta-23"
ktlint = "0.48.2"
log4j = "2.20.0"
prettier = "2.4.1"
xmlutil = "0.84.3"

[libraries]
detekt = { module = "io.gitlab.arturbosch.detekt:detekt-formatting", version.ref = "detekt" }
kotlin-logging-jvm = { module = "io.github.oshai:kotlin-logging-jvm", version.ref = "kotlin-logging" }
kotlin-logging-linux-arm64 = { module = "io.github.oshai:kotlin-logging-mingwx64", version.ref = "kotlin-logging" }
kotlin-logging-linux-x64 = { module = "io.github.oshai:kotlin-logging-linuxx64", version.ref = "kotlin-logging" }
kotlin-logging-macos-arm64 = { module = "io.github.oshai:kotlin-logging-mingwx64", version.ref = "kotlin-logging" }
kotlin-logging-macos-x64 = { module = "io.github.oshai:kotlin-logging-mingwx64", version.ref = "kotlin-logging" }
kotlin-logging-mingw-x64 = { module = "io.github.oshai:kotlin-logging-mingwx64", version.ref = "kotlin-logging" }
kotlinpoet = { module = "com.squareup:kotlinpoet", version = "1.12.0" }
kotlinx-cli = { module = "org.jetbrains.kotlinx:kotlinx-cli", version = "0.3.5" }
ktlint-core = { module = "com.pinterest.ktlint:ktlint-core", version.ref = "ktlint" }
ktlint-ruleset-experimental = { module = "com.pinterest.ktlint:ktlint-ruleset-experimental", version.ref = "ktlint" }
ktlint-ruleset-standard = { module = "com.pinterest.ktlint:ktlint-ruleset-standard", version.ref = "ktlint" }
log4j-api = { module = "org.apache.logging.log4j:log4j-api", version.ref = "log4j" }
log4j-core = { module = "org.apache.logging.log4j:log4j-core", version.ref = "log4j" }
log4j-slf4j-impl = { module = "org.apache.logging.log4j:log4j-slf4j-impl", version.ref = "log4j" }

# plugins
plugin-detekt = { module = "io.gitlab.arturbosch.detekt:detekt-gradle-plugin", version.ref = "detekt" }
plugin-kotlin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
plugin-spotless = { module = "com.diffplug.spotless:spotless-plugin-gradle", version = "6.17.0" }
kotlin-test-common = { module = "org.jetbrains.kotlin:kotlin-test-common", version.ref = "kotlin" }
kotlin-test-annotations = { module = "org.jetbrains.kotlin:kotlin-test-annotations-common", version.ref = "kotlin" }
kotlin-test-junit5 = { module = "org.jetbrains.kotlin:kotlin-test-junit5", version.ref = "kotlin" }

[bundles]
kotlin-logging-jvm = ["kotlin-logging-jvm", "log4j-api", "log4j-core", "log4j-slf4j-impl"]
ktlint = ["ktlint-core", "ktlint-ruleset-experimental", "ktlint-ruleset-standard"]

[plugins]
dokka = { id = "org.jetbrains.dokka", version.ref = "kotlin" }
gradledoctor = { id = "com.osacky.doctor", version = "0.8.1" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
kotlinx-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
mavenPublish = { id = "com.vanniktech.maven.publish", version = "0.24.0" }
